{% block sidebar %}
<div class="page-sidebar expandit">
  <div class="sidebar-inner" id="main-menu-wrapper">
    <ul class="float-right info-menu user-notify m-3">
      <button id="menu_icon">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
    </ul>

    <ul class="wraplist">
      <li class="border-bottom text-dark">
        <a href="/" class="active py-2"
          ><span class="sidebar-icon"
            ><i class="fas fa-robot text_primary"></i
          ></span>
          <span class="menu-title">Classify</span></a
        >
      </li>
    </ul>
  </div>
</div>
{% endblock %}
